:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: var(--text-4xl);
  margin-bottom: var(--space-2);
}

p {
  color: var(--color-1);
  margin-bottom: var(--space-4);
}

a {
  color: var(--blue);
}
