@layer reset, theme, layout, components;

@import url(./reset.css);
@import url(./theme.css);
@import url(./layout.css);

.app-nav {
  display: flex;
  gap: var(--space-4);
  padding: var(--space-4);
  background-color: var(--bg-1);
  border-bottom: 1px solid var(--divider);
}

.app-nav a {
  color: var(--color-1);
  text-decoration: none;
}

.app-nav a:hover {
  color: var(--color);
}

.app-content {
  padding: var(--space-4);
}
